body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
    background-color: #f5f5f5;
}

p {
    margin-bottom: 20px;
    font-size: 18px;
}

.memory-game {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* Maximaal 7 kolommen */
    gap: 5px; /* Minder ruimte tussen kaarten */
    justify-content: center; /* Horizontaal centreren */
    align-content: center; /* Verticaal centreren */
    padding: 10px;
    background-color: white;
    border: 2px solid #ccc;
    border-radius: 10px;
}

.speelkaart {
    width: 150px;
    height: 190px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.speelkaart img {
    max-width: 100%;
    max-height: 100%;
}

.button-container {
    display: flex; /* Flexbox zorgt ervoor dat de knoppen horizontaal naast elkaar worden geplaatst */
    gap: 10px; /* Ruimte tussen de knoppen */
    justify-content: flex-start; /* Zorgt ervoor dat de knoppen aan de linkerkant van de container staan */
    position: absolute; /* Absolute positionering om de knoppen in de linker bovenhoek te plaatsen */
    top: 20px; /* Ruimte vanaf de bovenkant van de container */
    left: 20px; /* Ruimte vanaf de linkerkant van de container */
    width: 10px;
    
}

.spel_knop:hover {

    cursor: pointer;
    filter: brightness(85%); /* Maakt de achtergrondkleur 15% donkerder */

}

.spel_knop.makkelijk {
    background-color: #7CB650;
    border: none;
}

.spel_knop.normaal {
    background-color: #f9af27;
    border: none;
}


.spel_knop.moeilijk {
    background-color:  #d11315;
    border: none;
}

.spel_knop.extreem-moeilijk {
    background-color: purple;
    border: none;
}

.spel_knop.andergraad {
    background-color: grey;
    border: none;
}

.memory-game.small-cards .speelkaart {
    width: 90px;
    height: 110px;
}

.photo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#photo {
    width: 500px; /* Initial big size */
    transition: width 1s ease-in-out;
}

.small {
    width: 150px; /* Final small size */
}
